@import "tailwindcss";

@theme {
  --color-background: #070815;
  --color-background-content-1: #105466;
  --color-background-content-2: #060F24;
  --color-background-content-3: #050E23;
  --color-border-titles: #32BEE7;
  --color-text: #ffffff;
  --color-icons: #19A6D3;
 
}

